@import url('https://fonts.googleapis.com/css?family=Concert+One|Signika');

#main-nav {
    position: fixed;
    left: 0;

    height: 100%;
    width: 75px;
    
}
#g-logo {
    position: absolute;
    
    font-family: 'Concert one';
    font-size: 40px;
}
#nav-ul {
    position: absolute;
    top: 30%;
    height: 75%;
}
#nav-ul li {
    width: 100%;
}

/* CONTACT BUTTON */

#quick-contact {
    position: fixed;
    top: 0px;
    right: 0px;
}

#contact-btn{
    position: absolute;
    top: 35px;
    right: 50px;
    z-index: 4;
}
#contact-pulse {
    position: absolute;
    top: 35px;
    right: 50px;

    height: 55px;
    width: 55px;
    border-radius: 50%;
    opacity: 0.25;
    z-index: 1;

    animation: pulse 1s ease-in-out 0s infinite;
}
#twitter-btn {
    position: absolute;
    top: 40px;
    right: 65px;

    font-size: 25px;
    
    transition: transform 300ms ease-in-out;
    
}
#linkedin-btn {
    position: absolute;
    top: 40px;
    right: 65px;

    font-size: 25px;
    
    transition: transform 300ms ease-in-out;
}
#github-btn {  
    position: absolute;
    top: 40px;
    right: 65px;

    font-size: 25px;
    
    transition: transform 300ms ease-in-out;
}

#twitter-btn:hover {
    animation: colorChange 200ms ease-in-out;
}
#linkedin-btn:hover {
    animation: colorChange 200ms ease-in-out;
}
#github-btn:hover {
    animation: colorChange 200ms ease-in-out;
}



.transition-twit {
    transform: translate(0px,65px);
}
.transition-linkedin {
    transform: translate(0px,115px);
}
.transition-github {
    transform: translate(0px,165px);
}


@keyframes pulse {
    from {
        opacity: .25;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes colorChange {
    from {
        color: #607d8b;
    }
    to {
        color: #ffeb3b;
    }
}